.top-space {
    margin-top:10px;
}

.btn-lg, .btn-group-lg, .btn {
    /*padding: 15px 16px 13px;*/
    /*line-height: 15px;*/
    margin: 15px 15px 15px;
}

body {
    background-color: #F8F5F0 !important;
}

h1 {
    text-align: left;
    font-family: Helvetica;
}

.dh-icon {
    display: block;
    margin:10px 10px 10px 10px;
}

.inline-block {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.no-margin {
    margin:0px 0px 0px 0px;
}

.btn {
    margin:0px 0px 0px 0px;
}

#image-lists {
    overflow: auto;
    width: 210px;
    height: 500px;
}

#image-lists li{
    margin: 4px;
    overflow: hidden;
}
#image-lists li img{
    /*display: block;*/
    /*display:table-cell;*/
    /*text-align:center;*/
    /*align: center;*/
}